body {
    font-size: 16px; 
}

@media screen and (max-width: 500px) {
    body {
        font-size: 10px;
        background-color: blue;
    }
}

@media screen and (min-width: 501px) and (max-width: 900px) {
    body {
        font-size: 20px;
        background-color: red;
    }
}

@media screen and (min-width: 901px) {
    body {
        font-size: 30px;
        background-color: green;
    }
}
